@charset "utf-8";

/*
 * File    : rwd-layout.css
 * Author  : STUDIO-JT (KMS)
 *
 * SUMMARY :
 * 2000px
 * 1680px
 * 1480px
 * 1200px
 * 1023px
 * 860px
 * 540px
 */



/* **************************************** *
 * 2000px
 * **************************************** */
@media (min-width: 2000px){

    /*
    html,
    html.safari.desktop { font-size: 0.05254860746190225vw; }
    */

}



/* **************************************** *
 * 1680px
 * **************************************** */
@media (max-width: 1680px){

    
}




/* **************************************** *
 * 1480px
 * **************************************** */
@media (max-width: 1480px){

    html,
    html.safari.desktop { font-size: 0.06756756756756757vw; }

    /* LAYOUT */


}



/* **************************************** *
 * 1200px
 * **************************************** */
@media (max-width: 1200px){

    html,
    html.safari.desktop { font-size: 0.0833333333333333vw; }

    /* VAR */
    :root {
        --font-size-ko-01: 52rem;
        --font-size-ko-02: 44rem;
        --font-size-ko-03: 36rem;
        --font-size-ko-04: 30rem;
        --font-size-ko-05: 26rem;

        --font-lineheight-ko-01: 63rem;
        --font-lineheight-ko-02: 57rem;
        --font-lineheight-ko-03: 49rem;
        --font-lineheight-ko-04: 43rem;
        --font-lineheight-ko-05: 39rem;
    }

}



/* **************************************** *
 * 1023px
 * **************************************** */
@media (max-width: 1023px){

    html,
    html.safari.desktop { font-size: 0.09775171065493645vw; }

}



/* **************************************** *
 * 860px
 * **************************************** */
@media (max-width: 860px){

    html,
    html.safari.desktop { font-size: 0.13020833333333335vw; }

}



/* **************************************** *
 * 540px
 * **************************************** */
@media (max-width: 540px){

    html,
    html.safari.desktop { font-size: 0.2564102564102564vw; }

}



/* **************************************** *
 * HOVER
 * **************************************** */
@media (hover: hover) and (pointer: fine) {


}