:root {
    /* COLOR */
    --color-white: #FFF;
    --color-black: #000;
    --color-gray: #DDD;
    --color-primary: #0B21EE;

    /* TYPOGRAPHY */
    --font-primary: 'BasisGrotesquePRO', sans-serif;
    --font-secondary: 'PPEiko', sans-serif;

    --letter-spacing: 0em;

    --font-size-01: 140rem;
    --font-size-02: 82rem;
    --font-size-03: 56rem;
    --font-size-04: 28rem;
    --font-size-05: 22rem;
    --font-size-06: 20rem;
    --font-size-07: 16rem;

    --font-lineheight-01: 191rem;
    --font-lineheight-02: 98rem;
    --font-lineheight-03: normal;
    --font-lineheight-04: 46rem;
    --font-lineheight-05: normal;
    --font-lineheight-06: 38rem;
    --font-lineheight-07: 24rem;
}