:root {
    /* COLOR */
    --color-white: #FFF;
    --color-black: #000;
    --color-gray: #DDD;
    --color-primary: #0B21EE;

    /* TYPOGRAPHY */
    --font-primary: 'BasisGrotesquePRO', sans-serif;
    --font-secondary: 'PPEiko', sans-serif;

    --letter-spacing: 0em;

    --font-size-ko-01: 56rem;
    --font-size-ko-02: 48rem;
    --font-size-ko-03: 38rem;
    --font-size-ko-04: 32rem;
    --font-size-ko-05: 28rem;

    --font-lineheight-ko-01: 68rem;
    --font-lineheight-ko-02: 62rem;
    --font-lineheight-ko-03: 52rem;
    --font-lineheight-ko-04: 46rem;
    --font-lineheight-ko-05: 42rem;
}